{{- if and .secure_env (lookPath "op") -}}
[default]
aws_access_key_id = {{ (onepasswordDetailsFields "b6jpkdxjyswrnymcehgvpdyaju").username.value }}
aws_secret_access_key = {{ (onepasswordDetailsFields "b6jpkdxjyswrnymcehgvpdyaju").password.value }}

[work]
aws_access_key_id = {{ (onepasswordDetailsFields "tbtolu5kjaq3wac7nx5x6k3olq").username.value }}
aws_secret_access_key = {{ (onepasswordDetailsFields "tbtolu5kjaq3wac7nx5x6k3olq").password.value }}

[{{ .work_organization_name }}-terraform]
aws_access_key_id = {{ (onepasswordDetailsFields "kmskjxhwhbbvfq5skce6p263ue").username.value }}
aws_secret_access_key = {{ (onepasswordDetailsFields "kmskjxhwhbbvfq5skce6p263ue").password.value }}
{{ end }}