#!/bin/sh
{{- if ( eq .chezmoi.os "linux" ) }}

# prevent installation of tzdata to prompt for timezone


{{- if (eq .chezmoi.osRelease.id "alpine") }}
UPDATE_CACHE_COMMAND="apk update"
INSTALL_COMMAND="apk add"
{{- else if (eq .chezmoi.osRelease.id "ubuntu") }}
UPDATE_CACHE_COMMAND="apt update"
INSTALL_COMMAND="apt install -y"
{{- else }}
echo "unsupported linux distrubution {{ .chezmoi.osRelease.id }}"
exit 1
{{- end }}

ubuntu_prepare() {
	# prepares environment for package installations to prevent
	# interactive questions, since this should be installed without
	# interactivity (beside from initial chezmoi setup, if needed)
	DEBIAN_FRONTEND=noninteractive
	TZ=UTC
	ln -snf /usr/share/zoneinfo/$TZ /etc/localtime && echo $TZ > /etc/timezone
	$INSTALL_COMMAND software-properties-common

	# add custom repositories
	apt-add-repository ppa:fish-shell/release-3 -y
}

install_packages() {
	{{ if (eq .chezmoi.osRelease.id "ubuntu") }}
	ubuntu_prepare
	{{ end }}

	# update cache
	$UPDATE_CACHE_COMMAND

	# packages to install
	packages="
	direnv
	fish
	git
	jq
	vim
	wget
	{{ if (ne .chezmoi.osRelease.id "ubuntu") }}
	bat
	exa
	ripgrep
	starship
	{{ end }}
	"
	for pkg in $packages; do
		$INSTALL_COMMAND "$pkg"
	done
}

install_packages

{{ end }}
