{{- if ( eq .chezmoi.os "darwin" ) -}}
#!/bin/sh

if ! command -v brew &> /dev/null
then
    echo "brew not found, installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    # activate brew env in this script
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew tap homebrew/cask
brew tap homebrew/core
brew tap homebrew/cask-fonts

# list of tools to install
read -r -d tool_installs <<- "EOP"
bat
coreutils
curl
direnv
exa
fish
git
git-delta
git-extras
jq
kubectl
kubectx
less
pgcli
pure
ripgrep
vim
watch
wget
xz
zplug
EOP

# list of casks to install
read -r -d cask_installs <<- "EOP"
1Password
1password-cli
alfred
bettertouchtool
firefox
font-hack-nerd-font
font-hasklig
font-inconsolata
font-input
font-jetbrains-mono
google-chrome
iterm2
karabiner-elements
obsidian
EOP

# install tools, use -q to prevent warning of already installed tools
for pkg in $tool_installs; do
    brew install -q "$pkg"
done

# install casks, use -q to prevent warning of already installed casks
for pkg in $cask_installs; do
    brew install -q --cask "$pkg"
done

# setup fish
# fisher_path=$HOME/.config/fish/plugins fish -c "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher && fisher update"

echo '\033[0;32m'  # set text color to green
echo 'Finished installing software.'
echo 'If running for the first time, run chezmoi apply again'
echo 'since some templates depend on existance of 1Password CLI'
echo '(and make sure to run eval $(op signin my) before that)'
echo '\033[0m'  # restore color to normal
{{ end }}
