#!/bin/sh
{{- if ( eq .chezmoi.os "linux" ) }}

set -o errexit -o nounset

echo "Loading {{ .chezmoi.sourceDir }}/scripts/{{ .chezmoi.osRelease.id}}.sh"
. {{ .chezmoi.sourceDir }}/scripts/{{ .chezmoi.osRelease.id}}.sh

prepare

# packages to install
packages="
fish
git
jq
vim
wget
{{ if (and (ne .chezmoi.osRelease.id "ubuntu") (ne .chezmoi.osRelease.id "debian")) }}
bat
exa
ripgrep
starship
{{ end }}
"
install_pkg $packages

{{ end }}
