{{ if ( eq .chezmoi.os "darwin" ) -}}
# initialize development related config specific to OSX

#########################################################################
# this config assumes that following packages are installed via homebrew
# - xz
# - openssl
# - libpq
# - libffi
#########################################################################

# for installing python via pyenv or asdf or rtx, lzma is (optinally) needed
# so add path to CPPFLAGS
set -gx CPPFLAGS "-I$HOMEBREW_PREFIX/opt/xz/include -I/opt/homebrew/opt/curl/include"

# for building various tools, ssl and libffi is needed
set -gx LDFLAGS "-I$HOMEBREW_PREFIX/opt/openssl@3/include -L$HOMEBREW_PREFIX/opt/openssl@3/lib -L$HOMEBREW_PREFIX/opt/curl/lib"
set -gx LDFLAGS "$LDFLAGS -I$HOMEBREW_PREFIX/opt/libffi/include -L$HOMEBREW_PREFIX/opt/libffi/lib"

set -gx PKG_CONFIG_PATH "/opt/homebrew/opt/curl/lib/pkgconfig"

# for installing python libs like psycopg2, libpq is needed, so adding
# its bin folder to path (pg_config is needed)
fish_add_path --path --move --append $HOMEBREW_PREFIX/opt/libpq/bin
{{ end -}}
