{{- writeToStdout "\nConfigure dot files\n\n" -}}
{{- $ephemeral := false -}}  {{/* cloud instances, containers, etc */}}
{{- $secure_env := false -}}  {{/* should contain personal secrets? */}}
{{- $name := "Bojan Delić" -}}  {{/* name of the owner, used for things like git user */}}
{{- $work_email := "" -}} {{/* work email */}}
{{- $personal_email := "" -}}  {{/* personal email for git */}}


{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vscode" "vagrant") -}}
{{-   $ephemeral = true -}}
{{- else -}}
{{-   $ephemeral = promptBool "Is emphemeral envvironment?" false -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   $secure_env = promptBool "secure_env" -}}  {{/* should contain personal secrets? */}}
{{-   $name = promptString "Name" "Bojan Delić" -}}
{{-   $work_email = promptString "Work email (for git)" -}}
{{-   $personal_email = promptString "Personal email (for git)" -}}
{{- end -}}

pager = "delta --dark"

[data]
secure_env = {{ $secure_env }}
work_git_author_name = {{ $name | quote }}
work_git_author_email = {{ $work_email | quote }}
personal_git_author_name = {{ $name | quote }}
personal_git_author_email = {{ $personal_email | quote }}
ephemeral = {{ $ephemeral }}
