{{- writeToStdout "\nConfigure dot files\n\n" -}}
{{- $ephemeral := false -}}  {{/* cloud instances, containers, etc */}}
{{- $secure_env := false -}}  {{/* should contain secrets? */}}
{{- $name := "Bojan Delić" -}}  {{/* name of the owner, used for things like git user */}}
{{- $_personalHostnames := list "mentat" -}}
{{- $_workHostnames := list "bdelić-D7GJWV" -}}
{{- $personal := (has .chezmoi.hostname $_personalHostnames) -}}
{{- $work := (has .chezmoi.hostname $_workHostnames) -}}
{{- $email := "" -}} {{/* email used to configure git with */}}


{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vscode" "vagrant") -}}
{{-   $ephemeral = true -}}
{{- else -}}
{{-   $ephemeral = promptBool "Is ephemeral envvironment?" false -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   $secure_env = promptBool "secure_env" -}}  {{/* should contain secrets? */}}
{{-   $name = promptString "Name" "Bojan Delić" -}}
{{-   $email = promptString "Email for git setup" -}}
{{- end -}}

pager = "delta --dark"

[data]
secure_env = {{ $secure_env }}
git_author_name = {{ $name | quote }}
git_author_email = {{ $email | quote }}
ephemeral = {{ $ephemeral }}
personal = {{ $personal }}
work = {{ $work }}
