{{- if not .ephemeral -}}

{{ template "finicky/common" }}

{{ if and .personal (not .include_Linear) -}}
{{ template "finicky/personal" }}
{{ end -}}
{{- if .include_Linear -}}
{{ template "finicky/linear" }}
{{ end -}}

{{ end -}}
