{{- if not .ephemeral -}}
// browser bundle IDs
const CHROME_BUNDLE_ID = "com.google.Chrome";
const BRAVE_BUNDLE_ID = "com.brave.Browser";
const SAFARI_BUNDLE_ID = "com.apple.safari";

const SLACK_BUNDLE_ID = "com.tinyspeck.slackmacgap";

const NOTION_BUNDLE_ID = "notion.id";

// Default profile is usually first one created. 
// After than, each new is numbered. To find out which value should
// go here for some profile, while profile is active,
// open chrome://version and under "profile path" and take last path segment .

// for opening CA related stuff
const CA_CHROME = {name: CHROME_BUNDLE_ID, profile: "Default"};
// for opening orgnostic related stuff
const ORGNOSTIC_CHROME = {name: CHROME_BUNDLE_ID, profile: "Profile 1"};

// all other, non-explicitly mapped stuff, open in this browser. 
// Intention is not to open e.g. social links or similar in work
// browsers.
const OTHER = {name: BRAVE_BUNDLE_ID, profile: "Profile 1"};

// keywords (or domains) that should always open in Orgnostic profile
// if they appear in hostname or path
const ORGNOSTIC_DOMAINS = [
    "orgnostic",  // anything that has "orgnostic" in hostname or path
    "device.sso.us-east-1.amazonaws.com",  // AWS SSO links
    "amazonaws.com",
    "datadoghq",
    "auth0",
];

// domains that should open in Orgnsotic profile in some contexts, e.g. if
// opened from Slack. Note that this includes "github.com" (for example), but 
// "ORGNOSTIC_DOMAINS" has higher priority, so "github.com/orgnostic" will 
// open in Orgnostic profile even when not opened from slack. Random
// Github URLs will not.
const ORGNOSTIC_CONTEXTUAL_DOMAINS = [
    "github.com",
    "docs.google.com",
    "meet.google.com"
];

// keywords (or domains) that should always open in CultureAmp profile
// if they appear in hostname or path
const CA_DOMAINS = [
    "cultureamp", // anything that has "cultureamp" in hostname
];

// explicit list of domains to always open in OTHER browser
const SOCIAL_NETWORK_DOMAINS = [
    "facebook.com",
    "twitter.com",
    "instagram.com",
    "youtube.com",
    "linkedin.com",
    "hachyderm.io",
    "reddit.com"
];




// matches URL with list of provided domains. 
function matchDomains(matches, sourceAppBundleIds = []) {
    return ({ url, opener }) => {
        for (let match of matches) {
            if (url.host.indexOf(match) > -1 || url.pathname.indexOf(match) > -1) {
                if (opener && sourceAppBundleIds.length > 0) {
                    return sourceAppBundleIds.indexOf(opener.bundleId) > -1
                }
                return true;
            }
        }
        return false;
    }
}

// removes marketing and tracking query parameters from URL, 
// otherwise leaves it unchanged
function stripTrackingParams({ url }) {
    const removeKeysStartingWith = ["utm_", "uta_"]; // Remove all query parameters beginning with these strings
    const removeKeys = ["fbclid", "gclid"]; // Remove all query parameters matching these keys

    const search = url.search
        .split("&")
        .map((parameter) => parameter.split("="))
        .filter(([key]) => !removeKeysStartingWith.some((startingWith) => key.startsWith(startingWith)))
        .filter(([key]) => !removeKeys.some((removeKey) => key === removeKey));

    return {
        ...url,
        search: search.map((parameter) => parameter.join("=")).join("&"),
    };
}

// finicky rules
module.exports = {
    // if no rules match, open OTHER browser. In most cases, some rule will match.
    defaultBrowser: OTHER,

    // rewrite URLs to enforce HTTPS and remove tracking parameters
    rewrite: [
        // enforce https on all urls
        {
            match: ({ url }) => url.protocol === "http" && url.host !== "localhost",
            url: { protocol: "https" }
        },
        // remove marketing/tracking information from URL
        {
            match: () => true, // Execute rewrite on all incoming urls
            url: stripTrackingParams,
        },
    ],

    handlers: [
        // open notion links in desktop app
        {
            match: ({ url }) => url.host.indexOf("notion.so") > -1,
            url: ({ url }) => ({...url, protocol: "notion"}),
            browser: "Notion",
        },

        // override all other matches for manual control
        // * shift + click always opens in OTHER browser
        // * option + click always opens in ORGNOSTIC browser
        {
            match: () => finicky.getKeys().shift,
            browser: OTHER,
        },
        {
            match: () => finicky.getKeys().option,
            browser: ORGNOSTIC_CHROME,
        },

        // match Orgnostic related stuff, use list of domains that should always be
        // opened in work browser.
        {
            match: matchDomains(ORGNOSTIC_DOMAINS),
            browser: ORGNOSTIC_CHROME,
        },

        // match CA related stuff
        {
            match: matchDomains(CA_DOMAINS),
            browser: CA_CHROME,
        },

        // slightly different from previous handler - set of domains that should
        // be opened in work browser only if link is clicked in Slack.
        {
            match: matchDomains(ORGNOSTIC_CONTEXTUAL_DOMAINS, [SLACK_BUNDLE_ID, NOTION_BUNDLE_ID]),
            browser: ORGNOSTIC_CHROME,
        },

        // match social networks
        {
            match: matchDomains(SOCIAL_NETWORK_DOMAINS),
            // this is essentially the same as default, but keeping it explicit
            // for now, I have some ideas. 
            browser: OTHER,
        }
    ]
}
{{ end }}
