#!/bin/bash

{{ template "system/activate-brew" }}

# if mise installed, ensure to use selected version of python for pipx installs
if command -v mise &> /dev/null
then
	PIPX_DEFAULT_PYTHON="$(mise where python)/bin/python"
fi

{{ template "system/pipx-install" dict "hostname" .chezmoi.hostname "packages" .packages.darwin.pipx }}
