{{- if ( eq .chezmoi.os "darwin" ) -}}
#!/bin/bash

{{ template "install-brew" }}

{{ template "brew-bundle" (dict "hostname" .chezmoi.hostname "brews" .packages.darwin.brews "casks" .packages.darwin.casks) -}}

# change shell to fish
if ! grep -q "$(brew --prefix)/bin/fish" /etc/shells; then
    echo "Configuring fish as default shell..."
    echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells
    chsh -s "$(brew --prefix)/bin/fish"
    echo "fish shell set as default..."
fi

echo -en "\033[0;32m"  # set text color to green
echo 'Finished installing software.'
echo 'If running for the first time, run chezmoi apply again'
echo 'since some templates depend on existance of 1Password CLI'
echo '(and make sure to run eval $(op signin my) before that)'
echo -en "\033[0m"  # restore color to normal
{{ end -}}
