#!/bin/sh
{{- if ( eq .chezmoi.os "linux" ) }}

set -o errexit -o nounset

echo "Loading {{ .chezmoi.workingTree }}/scripts/{{ .chezmoi.osRelease.id}}.sh"
. {{ .chezmoi.workingTree }}/scripts/{{ .chezmoi.osRelease.id}}.sh

prepare

# packages to install
packages="
fish
git
jq
vim
wget
{{ if (eq .chezmoi.osRelease.id "alpine") }}
bash
bat
exa
ripgrep
starship
{{ end }}
"
install_pkg $packages

{{ end }}
