{{- if not .ephemeral -}}
#Include /Users/{{- .chezmoi.username -}}/.colima/ssh_config
{{- if stat (joinPath "/Users" .chezmoi.username ".orbstack/ssh/config") -}}
# setup orbstack ssh config, to access its linux machines via ssh
Include /Users/{{- .chezmoi.username -}}/.orbstack/ssh/config
{{- end }}


# use 1password ssh agent
Host *
{{- if (lookPath "op") }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
Host *
  ServerAliveInterval 240
  ServerAliveCountMax 30
{{- if (eq .chezmoi.os "darwin" ) }}
  # reuse sock files for 10 minutes for same ssh connections
  UseKeychain yes
  ControlPath ~/.ssh/%C.sock
  ControlMaster auto
  ControlPersist 10m
{{- end }}
{{ end }}
