{{- if not .ephemeral -}}
[env]
GIT_AUTHOR_NAME = "{{ .work_git_author_name }}"
GIT_AUTHOR_EMAIL = "{{ .work_git_author_email }}"
GIT_COMMITTER_NAME = "{{ .work_git_author_name }}"
GIT_COMMITTER_EMAIL = "{{ .work_git_author_email }}"
{{ end }}