{{ if ( eq .chezmoi.os "darwin" ) -}}
# initialize development related config specific to OSX

# add mise shims - while not used always, mise is not activated on non-interactive
# shells, so fallback to shims is preferred. Also, some tools like "nox" search
# for executables in path, so it is not only the current version that
# should be found (e.g. nox looks for "python3.10", "python3.11", "python3.12")

# setting shims to start of PATH to override homebrew and in interactive
# use mise will prepend custom paths anyway.
fish_add_path --path --move --prepend $HOME/.local/share/mise/shims

# if usage command (used by mise) is available, use it to install mise completions
type -q usage; and type -q mise; and mise completions fish | source

# for compiling packages (e.g. installing python via pyenv or asdf or mise)
# we need CFLAGS and LDFLAGS configured. Setting them here to brew installed
# versions. Python needs "xz", "openssl", "libpq", "libffi", so make sure
# they are installed
set -gx CFLAGS "-I$HOMEBREW_PREFIX/include"
set -gx LDFLAGS "-I$HOMEBREW_PREFIX/include -L$HOMEBREW_PREFIX/lib"
set -gx PKG_CONFIG_PATH "$HOMEBREW_PREFIX/lib/pkgconfig/"

# for installing python libs like psycopg2, libpq is needed, so adding
# its bin folder to path (pg_config is needed)
fish_add_path --path --move --append $HOMEBREW_PREFIX/opt/libpq/bin
{{ end -}}
