{{- if not .ephemeral -}}
[tools]
go = "latest"
sqlite = "latest"
httpie-go = "latest"
awscli = "latest"
shellcheck = "latest"
just = "latest"
usage = "latest"
uv = "latest"
xh = "latest"
{{ if .personal -}}
node = "22.22.0"
bun = "latest"
"npm:@mariozechner/pi-coding-agent" = "latest"  # TODO: move to work setup later
"npm:pnpm" = "latest"  # TODO: move to work setup later
{{ end }}
{{ if .work -}}
ruby = "3.2.4"
terraform = "1.5.7"
deno = "1.30.0"
helm = "3.8.1"
node = "18.20.3"
mongosh = "latest"
java = "21"
bun = "latest"
prek = "latest"
{{ end }}
{{ end }}
