{{- if not .ephemeral -}}
[tools]
go = "latest"
sqlite = "latest"
httpie-go = "latest"
awscli = "latest"
shellcheck = "latest"
just = "latest"
usage = "latest"
uv = "latest"
xh = "latest"
"npm:@mariozechner/pi-coding-agent" = "latest"
{{ if .include_Linear -}}
node = "22.22.0"
"npm:pnpm" = "latest"
"npm:opencode-ai" = "latest"
{{ else }}
node = "latest"
{{ end }}
{{ end }}
