{{- if not .ephemeral -}}
[tools]
go = "latest"
sqlite = "latest"
httpie-go = "latest"
awscli = "latest"
shellcheck = "latest"
just = "latest"
usage = "latest"
uv = "latest"
xh = "latest"
{{ if .personal -}}
node = "latest"
bun = "latest"
{{ end }}
{{ if .work -}}
ruby = "3.2.4"
terraform = "1.5.7"
deno = "1.30.0"
helm = "3.8.1"
node = "18.20.3"
mongosh = "latest"
java = "21"
bun = "latest"
prek = "latest"
{{ end }}
{{ end }}

[settings]
vfox = false
idiomatic_version_file_enable_tools = []
