{{- if not .ephemeral -}}
legacy_version_file = true
experimental = true
{{ if .work -}}
trusted_config_paths = ["~/work"]
{{- end }}
raw = true

python_venv_auto_create = true
python_compile = true
{{ end }}
